

<center><a href ="{% url  'main_page' %}">Home</a></center>


<html>
 <h3><b>Book A ticket:</b></h3>
<form action=''  method='POST'>
{% csrf_token %}
{% for field in form %}
  <div>
          {% for hidden in form.hidden_fields %}
            {{hidden}}---

          {% endfor %}
 
  <label>{{ field.label_tag }}</label>
  </div>
  <div>
      {{ field }}
      {% for error in field.errors %}
        <p1>{{error}}</p1>
      {% endfor %}
  </div>

{% endfor %}

    </div>
     <button type="submit">Save</button>
  </div>
</form>
</html>







