

<html>
<head>
<Tile>Online Movie Ticket</Tile>
</head>
<body>
<center><h1>LOOK AND BOOK MOVIE</h1></center>
<a href ="{% url  'genre_create' %}">Create a new Genre</a>

<center><strong>GENRE</strong><br>

<br>

{% for obj in object_list %}

  
<li><a href = "{% url 'movie_brief' obj.id  %}">{{obj.name}}</a>    
  <img src="{'issuu.jpg'}" height="30" width="30"></img></li><br>       
  
{{MEDIA_URL}}



{% endfor %}
<a href ="{% url  'booked_users' %}"><h2 id ="top"> Show Booked Users</h2></a>



</center>

</body>

</html>

